.info-container {
    background-color: #fff;
    border-radius: 5px;
    /*box-shadow: 0 0 0 1px #eee;*/
    width: 1170px;
    height: 309px;
    margin-bottom: 60px;
    border: 1px solid rgba(237, 237, 240, 1);
    max-width: 100%;
    font-family: Arial, sans-serif;
    margin-top: 36px;
}

.info-header-section {
    display: flex;
    gap: 32px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding: 22px 40px 0 40px;
}

.info-section {
    background: none;
    border: none;
    padding-bottom: 12px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    position: relative;
    transition: color 0.2s ease;
}

.info-section:hover {
    color: #d81b60;
}

.info-section.active {
    font-weight: 600;
}

.info-section.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 98%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ec407a;
    border-radius: 0;
}

.info-content-section {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    width: 1123px;
    height: 154px;
    padding: 10px 24px 50px 24px;
}

.info-content-section p {
    font-family: "ProximaNova-reg-16", sans-serif;
    font-size: 16px;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
}