.cards-wrapper {
    font-family: sans-serif;
    padding: 20px;
    position: relative;
}

.cards-wrapper h2 {
    text-align: center;
    font-size: 30px;
    width: 1170px;
    color: rgba(41, 41, 41, 1);
    font-weight: 500;
    margin-bottom: 36px;
}

.cards-container {
    padding: 20px 0;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 271px;
    height: 413px;
    padding-bottom: 10px;
    border: 1px solid rgba(237, 237, 240, 1);
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
}

.card-content {
    padding: 22px 15px;
}

.card-content h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.card-content p {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: rgba(41, 41, 41, 1);
    width: 232px;
    font-weight: 400;
    font-family: "ProximaNova", sans-serif;
    height: 60px;
}

.price {
    display: flex;
    border-top: 1px solid rgba(237, 237, 240, 1);
}

.price > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(237, 237, 240, 1);
}

.old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.new-price {
    color: #EF476F;
    font-size: 18px;
    font-weight: 500;
}

.btn-cards {
    flex: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    background: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    font-size: 16px;
    font-weight: 500;
    color: #222;
    cursor: pointer;
}

.basket-icon{
    width: 13px;
    height: 19px;
}

.bottom-button {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    background: transparent;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid rgba(78, 157, 211, 1);
    font-size: 14px;
    font-weight: 500;
    width: 289px;
    height: 50px;
}
.custom-prev,
.custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 15px;
    height: 12px;
    background: rgba(51, 51, 51, 0.39);
    padding: 15px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-prev img,
.custom-next img {
    width: 100%;
    height: auto;
}

.custom-prev {
    left: -1px;
    margin-top: -110px;
}

.custom-next {
    right: 3px;
    margin-top: -110px;
}
